<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:py="http://genshi.edgewall.org/">
  <head>
    <title>ToscaWidgets Browser</title>
	<link rel="shortcut icon" href="/resources/tw2.devtools.browser/static/favicon.ico" />
  </head>
  <body>
    <div>
      <img src="/resources/tw2.devtools.browser/static/icon-header.jpg" width="96"
           height="96" alt="Icon Header" id="icon"/>
    </div>
    <div id="header">
        <img src="/resources/tw2.devtools.browser/static/toscawidgets-logo.jpg"
             width="343" height="74" alt="Toscawidgets Logo" id="logo" />
    </div>   
    <table id="content"><tr><td id="sidebar">
        <h3 style="margin-bottom:0; margin-top: 2em">Modules</h3>
        <py:for each="m in w.modules">
        <a href="module?module=$m">$m</a>
        <br/>
        <div class="module-metadata">
          <py:if test="w.enable_pypi_metadata">
          Downloads: ${str(w.pypi_downloads(m))}<br/>
          </py:if>
          <py:if test="w.enable_repo_metadata">
          Commits: <![CDATA[ ${w.has_commits(m) and w.commits(m).display()} ]]>
          </py:if>
        </div>
        </py:for>
        <p><a href="validators">Validators</a></p>
    </td><td>
        ${w.child.display()}
    </td></tr></table>
    <div id="footer">
        &copy; 2008-2010 Paul Johnston, <a href="http://ematia.de/">Daniel Haus</a> and contributors.
    </div>
  </body>
</html>
