<html xmlns="http://www.w3.org/1999/xhtml" 
  xmlns:py="http://genshi.edgewall.org/">
  <head>
    <title>ToscaWidgets2 Browser</title>
    <link rel="shortcut icon" href="/resources/tw2.devtools.browser/static/favicon.ico" />
  </head>
  <body>
    <div class="container_10">
      <div class="grid_6 head lft">
        <img id="tw-logo" src="resources/tw2.devtools.browser/static/images/toscawidgets-logo.jpg"/>
      </div>
      <div class="grid_4 head rght">
      </div>
      <div class="clearfix"></div>
      <div class="grid_10 drop-sliver">
      </div>
      <div class="content">
        <div class="grid_3 lft body">
          <h3>Modules</h3>

          <ul class="module-list">
            <py:for each="m in w.modules">
            <li><a href="module?module=$m">$m</a>
            </li>
            </py:for>
          </ul>
        </div>
        <div class="grid_7 prefix_3 rght body">
          ${w.child.display()}
        </div>
      </div>
      <div class="clear">&nbsp;</div>
    </div>

    <footer>
    <p>&copy; 2008-2010 Paul Johnston, <a href="http://ematia.de/">Daniel
      Haus</a> and contributors.</p>
    </footer>
  </body>
</html>
